@import '../../app';
.meals-wrapper{width: 100%;
    padding: 40px 100px;
    @include mobile{
        padding: 10px 30px;
    }
    @include tablet{
        padding: 20px 70px;
    }

    &-container{
        display: flex;
        justify-content: space-between;
        @include mobile{
            flex-direction: column-reverse;
        }
        @include tablet{
            flex-direction: column;
        }
        &-col1{
            width: 50%;
            padding-right: 40px;
            @include mobile{
                width: 100%;
                padding: 20px 0;
            }
            @include tablet{
                width: 100%;
                padding: 20px 0;
            }

          h1{
              @include mobile{
                  font-size: 30px;
              }
              @include tablet{
                font-size: 32px;
            }
          }

            p{
                margin-top: 20px;
                color: #6C747D;
            }

        }
        &-col2{
            width: 45%;
            @include mobile{
                width: 100%;
            }
            @include tablet{
                width: 100%;
            }

        }
    }
}