@import '../../app';
.features-wrapper{
    width: 100%;
    padding: 20px 100px;
    @include mobile{
        padding: 10px 30px;
    }
    &-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        &-items{
            width: 15%;
            @include mobile{
                width: 50%;
                padding: 10px;
            }
           
           
            &-image{

            }
            &-disc{
              text-align: center;
              align-items: center;

            }
        }
    }
}