@import '../../app';
.footer-wrapper{
    width: 100%;
    padding: 40px 100px 20px ;
    @include mobile{
        padding: 10px 30px;
    }
    &-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include mobile{
            display: block;
            
        }
        &-col1{
            width: 20%;
            @include mobile{
                display: none;
            }
            @include tablet{
                display: none;
            }
            li{
                list-style: none;
                font-size: 18px;
                font-weight: 500;
                color: #212529;
                line-height: 40px;
            }

        }
        &-col2{
            width: 15%;
            @include mobile{
                display: none;
            }
            @include tablet{
                display: none;
            }
            li{
                list-style: none;
                font-size: 18px;
                font-weight: 500;
                color: #212529;
                line-height: 40px;
            }

        }
        &-col3{
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile{
                width: 100%;
            }
            @include tablet{
                width: 45%;
            }
            p{
                list-style: none;
                font-size: 18px;
                font-weight: 500;
                color: #212529;
                line-height: 40px;
                @include mobile{
                    line-height: 26px;
                }
            }
            &-row2{
                @include mobile{
                    margin-top: 20px;
                }
                &-icons{
                    display: flex;
                    font-size: 30px;
                   
                }
            }

        }
        &-col4{
            width: 25%;
            @include mobile{
                margin-top: 15px;
                width: 100%;
            }
            @include tablet{
                width: 45%;
            }
            &-top{
                p{
                    font-size: 18px;
                    font-weight: 500;
                    color: #212529;
                }
            }
           
            &-bottom{
               
                padding-top: 10px;
                &-email{ 
                    margin-top: 10px;
                    border-bottom: 1px solid gray;
                    color: #A6AFB1;

                }
                
                .btnSubmit{
                    margin-top: 10px;
                    width: 100%;
                    text-align: center;
                    background-color: rgba(240, 182, 102, 1);
                    padding: 10px 30px;
                    border: none;
                    color: #ffff;
                    font-size: 18px;
                    font-size: 500;
                }
            }

        }
    }
    &-bottomContainer{
        padding: 60px 0 0 0;
        display: flex;
        justify-content: space-between;
        @include mobile{
            padding: 40px 0 0 0;
            display: block;
        }

        p{
            color:#212529 ;
            line-height: 26px;
            font-size: 15px;
           
        }
    }
}